body {
    background-color: #cf6f6f; 
    font-family: 'Arapey', serif;
}

header img {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    object-fit: cover; 
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin-top: 10px;
}

p {
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 20px;
}

.wrapper-cta {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.cta {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.cta .emoji {
    font-size: 20px;
}
